<% cache do %>
<h1>About</h1>
<p>We are an online store specialized in used bikes based in Santiago, Chile.</p>
<p>If you are looking for the bike of your dreams this is the place to go!</p>
<% end %>
